.row {
  line-height: 0;
}

div.square {
  border: 1px solid gray;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px;
}

h1.title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Itim', cursive;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Itim', cursive;
  color: green;
}

.body-container {
  margin: 0 auto;
  width: 585px;
}

.score {
  text-align: center;
  font-size: 25px;
  color: red;
  height: 70px;
  width: 182px;
  border: 1px solid black;
  float: right;
  margin-top: -116px;
}

#game-over {
  display: none;
  text-align: center;
  position: absolute;
  z-index: 1000;
  top: 320px;
  left: 0px;
  right: 0px;
  font-family: 'Itim', cursive;
  font-size: 40px;
}
